<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/urls" style="margin: 0.5em">My URLs</a>
    <a class="nav-item nav-link" href="/urls/new"style="margin: 0.5em" >Create New URL</a>

    <% if (users[cookies.user_id]) { %>
 
      <p class="nav-item nav-link" style="margin: 0.5em; position: absolute; right: 125px">Logged in as: <%= users[cookies.user_id].email %> </p>
      <form action="/logout" method="POST">
      <button name="logout" value="logout" type="submit" style="background-color:transparent; width: 100px; height: 45px; margin:0.5em; position:absolute; right:10px">Logout</button>
      </form>

    <% } else { %>

    <a class="nav-item nav-link" href="/login"style="margin: 0.5em; position: absolute; right:90px " >Login</a>
    <a class="nav-item nav-link" href="/register"style="margin: 0.5em; position: absolute; right:10px" >Register</a>
    
   <% } %>

</div>

  </div>
</div>
</nav>





</header>